<div class="container mt-5">
    <button class="btn btn-primary" (click)="onClickCombineLatestTimer()">combineLatest Timer</button>
    <button class="btn btn-primary" (click)="onClickCombineLatestInterval()">combineLatest Interval</button>
    <button class="btn btn-primary" (click)="onClickConcat()">Concat</button>
    <button class="btn btn-primary" (click)="onClickForkJoin()">ForkJoin</button>
    <button class="btn btn-primary" (click)="onClickMerge()">Merge</button>
    <button class="btn btn-primary" (click)="onClickRace()">Race</button>
    <button class="btn btn-primary" (click)="onClickZip()">Zip</button>
    <button class="btn btn-primary" (click)="onClickStartWith()">StartWith</button>

    <button class="btn btn-primary" id="combineLatestDom">Combine Latest</button>
    <button class="btn btn-primary" id="withLatestFromDom">With Latest From</button>

</div>