<div class="container mt-5">
    <button class="btn btn-primary" id="debounceTimeId">Debounce Time</button>
    <button class="btn btn-primary" id="debounceId">Debounce</button>
    <button class="btn btn-primary" (click)="onClickDistinctUntilChanged()">Distinct Until Changed</button>
    <button class="btn btn-primary" (click)="onClickFilter()">Filter</button>
    <button class="btn btn-primary" (click)="onClickTake()">Take</button>
    <button class="btn btn-primary" id="takeUntilClickId">Take Until Id</button>

    <h5 #elementRef>ElementRef</h5>
    <ng-template #templateRef>TemplateRef</ng-template>
</div>